.banner {
	background-image: url("/Users/Liolio/Desktop/Codage n°2/images/kimetsu.png");
	background-size :cover;
	background-position: center;
	padding : 150px 0px;
	color :white;
}

.banner h1{
	font-size: 60px;
}
.banner h2{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.banner a{
	margin-bottom: 20px;
}